CONNECTION_STRING=mongodb+srv://muganwas:<password>@kuchapa.6zkks.mongodb.net/<dbname>?retryWrites=true&w=majority
SECRET=n6cVoTM1c1mh6owAZ5-W24BI
URL=https://backend-api-with-chat-developm.herokuapp.com/
LOCAL_URL=http://localhost:4000/
SERVER_KEY=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=kuchapamobileapp@gmail.com
EMAIL_PASSWORD=
WEBSITE_NAME=kuchapa
WEBSITE_EMAIL=kuchapamobileapp@gmail.com
PORT=4000
CHAT_PORT=2000
AUTH_TIMEOUT=10000
NODE_ENV=development
FIREBASE_API_KEY=
AUTH_DOMAIN=kuchapa-e352c.firebaseapp.com
DATABASE_URL=https://kuchapa-e352c.firebaseio.com
STORAGE_BUCKET=kuchapa-e352c.appspot.com
MESSAGING_SENDER_ID=
APP_ID=
FIREBASE_ADMIN_PRIVATE_KEY_ID=
FIREBASE_ADMIN_PRIVATE_KEY=